.movetxt {
    -webkit-animation: moving 1s forwards ;
    animation: moving 2s forwards ;
}
@keyframes moving {
    from {transform: translateY(-10px);
    opacity:0.5}
    to {transform: translateY(10px);
    opacity:1}
}
